<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"/>
    <link rel="stylesheet" href="style.css" />
    <title>LPToeic | Luyện thi Tiếng Anh</title>
  </head>
  <body>
    <header class="menu-bar">
        <div class="menu-right">
          <h1 class="logo">LPT<span>oeic.</span></h1>
          <ul>
              <li><a href="#">Trang chủ </a></li>
              <li><a href="#">Tự học <i class="fas fa-caret-down"></i></a>
                  <div class="dropdown-menu">
                      <ul>
                      <li><a href="#">Từ vựng</a></li>
                      <li><a href="#">Ngữ pháp</a></li>
                      <li><a href="#">Listening</a></li>
                      <li><a href="#">Reading</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="#">MiniTest</a>
              </li>
          </ul>
        </div>

        <div class="user">
          <a href="#">Đăng nhập</a>
          <span></span>
          <a href="#">Đăng kí</a>
        </div>
    </header>

    <section class="main-container">
      <div class="max-width">
        <div class="home-content">
          <h1>Học cùng LPT<span>oeic</span></h1>
          <button class="btn">Học ngay</button>
        </div>
        <div class="home-image">
          <img src="picClient/pic1.png" alt="" />
        </div>
      </div>
    </section>

  </body>
</html>