<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="style3.css" />
    <link rel="stylesheet" href="style.css" />
    <title>LPToeic | Luyện thi Tiếng Anh</title>
  </head>
  <body>
    <header class="menu-bar">
        <div class="menu-right">
          <h1 class="logo">LPT<span>oeic.</span></h1>
          <ul>
              <li><a href="#">Trang chủ </a></li>
              <li><a href="#">Tự học <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                    <li><a href="#">Từ vựng</a></li>
                    <li><a href="#">Ngữ pháp</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Luyện<i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                    <li><a href="#">Listening</a></li>
                    <li><a href="#">Reading</a></li>
                    </ul>
                </div>
            </li>
              <li><a href="#">MiniTest</a>
              </li>
          </ul>
        </div>

        <div class="user-menu">
          <ul>
            <li><img src="" alt=""></li>
            <li>
              <a href="">Username</a>
              <div class="dropdown-user">
                <ul>
                  <li><a href="#">Thông tin tài khoản</a></li>
                  <li><a href="#">Đăng xuất</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>  
    </header>

    <main>
        <div class="main-container">
            <div class="main-vocal">
                <section class="sidebar-list">
                    <div class="header-topic">
                        <h3>Từ vựng theo chủ đề</h3>
                    </div>
                    <div class="list-topic">
                        <ul>
                            <li><a>Kinh doanh và phát triển phần 1</a></li>
                            <li><a>Kinh doanh và phát triển phần 2</a></li>
                            <li><a>Gia đình và bạn bè phần 1</a></li>
                            <li><a>Gia đình và bạn bè phần 2</a></li>
                            <li><a>Trường học phần 1</a></li>
                            <li><a>Trường học phần 2</a></li>
                            <li><a>Cuộc sống quanh ta phần 1</a></li>
                            <li><a>Cuộc sống quanh ta phần 2</a></li>
                            <li><a>Yêu và hận thù phần 1</a></li>
                            <li><a>Yêu và hận thù phần 2</a></li>
                            <li><a>Đi học cà phê xuyên đêm</a></li>
                        </ul>
                    </div>
                </section>
    
                <section class="main-content">
                    <div class="main-gramm-search">
                        <div class="div-search">
                            <form class="form-search">
                                <input type="text" placeholder="Tìm kiếm ngữ pháp">
                                <button><i class="fa fa-search"></i></button>
                            </form>
                        </div>
    
                        <div class="grammgramm">
                            <div class="list-grammgramm">
                                <div class="gramm-detail">
                                </div>
        
                            </div>
                        </div>
                    </div>
    
                </section>

            </div>
        </div>
    </main>
  </body>
</html>