<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="style3.css" />
    <link rel="stylesheet" href="style.css" />
    <title>LPToeic | Luyện thi Tiếng Anh</title>
  </head>
  <body>
    <header class="menu-bar">
        <div class="menu-right">
          <h1 class="logo">LPT<span>oeic.</span></h1>
          <ul>
              <li><a href="#">Trang chủ </a></li>
              <li><a href="#">Tự học <i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                    <li><a href="#">Từ vựng</a></li>
                    <li><a href="#">Ngữ pháp</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="#">Luyện<i class="fas fa-caret-down"></i></a>
                <div class="dropdown-menu">
                    <ul>
                    <li><a href="#">Listening</a></li>
                    <li><a href="#">Reading</a></li>
                    </ul>
                </div>
            </li>
              <li><a href="#">MiniTest</a>
              </li>
          </ul>
        </div>

        <div class="user-menu">
          <ul>
            <li><img src="" alt=""></li>
            <li>
              <a href="">Username</a>
              <div class="dropdown-user">
                <ul>
                  <li><a href="#">Thông tin tài khoản</a></li>
                  <li><a href="#">Đăng xuất</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>  
    </header>

    <main>
        <div class="main-container">
            <div class="main-content-listening">
                <div class="header-title">
                    <h1>Luyện nghe tiếng Anh</h1>
                </div>
                <div class="cards">
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 1</h3>
                            <h5>Mô tả tranh</h5>
                            <p>Thí sinh sẽ nghe 1 lần duy nhất 4 câu mô tả về một bức tranh. Sau đó chọn 1 đáp án mô tả đúng nhất bức tranh đó.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 2</h3>
                            <h5>Hỏi - Đáp</h5>
                            <p>Thí sinh sẽ nghe 1 lần duy nhất 3 câu hồi đáp cho 1 câu hỏi hoặc 1 câu nói. Sau đó chọn câu hồi đáp phù hợp nhất.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 3</h3>
                            <h5>Đoạn hội thoại</h5>
                            <p>Thí sinh sẽ nghe 1 lần duy nhất các đoạn hội thoại giữa 2 hoặc 3 người. Mỗi đoạn hội thoại sẽ có 3 câu hỏi, mỗi câu hỏi có 4 lựa chọn. Thí sinh đọc câu hỏi sau đó chọn câu trả lời phù hợp nhất.</p>
                        </div>
                    </div>
                    <div class="card">
                        <div class="part-img">
                            <img src="picClient/pic1.png" alt="">
                        </div>
                        <div class="part-title">
                            <h3>Phần 4</h3>
                            <h5>Bài nói ngắn</h5>
                            <p>Thí sinh sẽ nghe 1 lần duy nhất các bài nói ngắn. Mỗi bài sẽ có 3 câu hỏi, mỗi câu hỏi có 4 lựa chọn. Thí sinh đọc câu hỏi sau đó chọn câu trả lời phù hợp nhất.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
  </body>
</html>