<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"/>
    <link rel="stylesheet" href="style2.css" />
    <link rel="stylesheet" href="style.css" />
    <title>LPToeic | Luyện thi Tiếng Anh</title>
    <script>
      function showSection(section) {
        document.querySelector('.user-info').style.display = 'none';
        document.querySelector('.user-password').style.display = 'none';
        document.querySelector(section).style.display = 'block';
      }
    </script>
  </head>
  <body>
    <header class="menu-bar">
        <div class="menu-right">
          <h1 class="logo">LPT<span>oeic.</span></h1>
          <ul>
              <li><a href="#">Trang chủ </a></li>
              <li><a href="#">Tự học <i class="fas fa-caret-down"></i></a>
                  <div class="dropdown-menu">
                      <ul>
                      <li><a href="#">Từ vựng</a></li>
                      <li><a href="#">Ngữ pháp</a></li>
                      <li><a href="#">Listening</a></li>
                      <li><a href="#">Reading</a></li>
                      </ul>
                  </div>
              </li>
              <li><a href="#">MiniTest</a>
              </li>
          </ul>
        </div>

        <div class="user-menu">
          <ul>
            <li><img src="" alt=""></li>
            <li>
              <a href="">Username</a>
              <div class="dropdown-user">
                <ul>
                  <li><a href="#">Thông tin tài khoản</a></li>
                  <li><a href="#">Đăng xuất</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>  
    </header>

    <main>
      <div class="main-container">
        <div class="user-profile">
          <section class="sidebar-user">
            <ul>
              <li><a href="#" onclick="showSection('.user-info')"><i class="fa fa-user"></i>Thông tin tài khoản</a></li>
              <li><a href="#"><i class="fa fa-clock"></i>Lịch sử học tập</a></li>
              <li><a href="#" onclick="showSection('.user-password')"><i class="fa fa-key"></i>Đổi mật khẩu</a></li>
            </ul>
          </section>

          <section class="user-info">
            <div class="user-info-container">
              <div class="user-info-header">
                <h3>Profile</h3>
              </div>
              <form action="">
                <div>
                  <label for="username">Username</label>
                  <input type="text" id="username" name="username" placeholder="Nhập username" required>
                </div>
                <div>
                  <label for="email">Gmail</label>
                  <input type="email" id="email" name="email" placeholder="Nhập email" required>
                </div>
                <div>
                  <label for="balance">Số dư tài khoản</label>
                  <input type="number" id="balance" name="balance" enbled>
                </div>
                <div>
                  <button class="update" type="submit">Cập nhật</button>
                </div>
              </form>
            </div>
          </section>

          <section class="user-password" style="display: none;">
            <div class="user-password-container">
              <div class="user-password-header">
                <h3>Change password</h3>
              </div>
              <form action="">
                <div>
                  <label for="old-password">Mật khẩu cũ</label>
                  <input type="password" id="old-password" name="old-password" placeholder="Nhập mật khẩu cũ" required>
                </div>
                <div>
                  <label for="new-password">Mật khẩu mới</label>
                  <input type="password" id="new-password" name="new-password" placeholder="Nhập mật khẩu mới" required>
                </div>
                <div>
                  <label for="confirm-password">Xác nhận mật khẩu</label>
                  <input type="password" id="confirm-password" name="confirm-password" placeholder="Nhập lại mật khẩu mới" required>
                </div>
                <div>
                  <button class="update" type="submit">Cập nhật</button>
                </div>
              </form>
            </div>
          </section>

          <section class="user-avatar">
            <div>
              <h3>Avatar public</h3>
              <div>
                <div class="avatar-edit">
                  <img src="" alt="">
                  <button class="edit" type="submit">Edit <i class="fa fa-user-edit"></i></button>
                </div>
              </div>
            </div>
          </section>

        </div>
      </div>
    </main>
  </body>
</html>
  <div class="user-menu">
    <ul>
      <li><img src="" alt=""></li>
      <li>
        <a href="">Username</a>
        <div class="dropdown-user">
          <ul>
            <li><a href="#">Thông tin tài khoản</a></li>
            <li><a href="#">Đăng xuất</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>  