.main-gramm-search {
    display: flex;
    flex-direction: column;
}

.main-gramm-search .div-search {
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
}

.main-gramm-search .form-search {
    display: flex;
    width: 50%;
    border-radius: 5px;
    position: relative;
    border: solid 1px #dcd5d5;
}

.main-gramm-search .form-search input {
    width: 100%;
    border: none;
    padding: 15px;
    font-size: 15px;
    font-weight: 400;
    color: #000;
    
}

.main-gramm-search .form-search button {
    padding: 15px;
    border: none;
    border-radius: 5px;
    background-color: var(--color-bgmain);
    color: var(--color-white);
    cursor: pointer;
    transition: all 0.3s;
}

.main-gramm-search .form-search button:focus {
    outline: none;
}

.main-gramm-search .form-search button i {
    font-size: 16px;
}

.main-gramm-search .form-search button:hover {
    background-color: var(--color-primary);
}

.gramm {
    padding: 10px;
}

.list-gramm {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.gramm .gramm-detail { 
    display: flex;
    padding: 10px;
    border-bottom: 1px solid #f0ede6;
}